* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    margin: 0;
}



body {
    padding: 30px;
    padding-left: 0px;
    box-sizing: border-box;
}

.title-champ {
    font-size: 30px;
    font-weight: 700;
    color: #546c84;
    text-align: center;
    margin-bottom: 30px;
}

figure {
    padding: 4px;
    background-color: #000000;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 5px;
    word-break: break-word;
}

.listchamp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-right: 3em;
}

.listchamp li{
    border-radius: 2% !important;
    width: 240px;
    margin: 10px;
    padding-top: 1.5%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: 0.5s;
}
.listchamp li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.listchamp img {
    object-fit: cover;
}

header {
    background-color: #000;
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
}

#search {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #000;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    text-align: right;
}

.ancre{
    padding-bottom: 200px;
    position : relative;
}