* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #602161;
}

html, body {
    min-height: 100%;
    margin: 0;
}



body {
    padding: 30px;
    padding-left: 0;
    box-sizing: border-box;
}

.title-champ {
    font-size: 15em;
    font-weight: 700;
    color: #546c84;
    text-align: center;
    margin-bottom: 30px;
}

figure {
    padding-left: 0;
    background-color: #000000;
}

.listchamp p{
    width: 100%;
    font-size: 17em;
    font-weight: 700;
    color: #546c84;
    text-align: center;
    margin-bottom: 30px;
    background-color: #000;
}

.listchamp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-right: 3em;
    margin-left: 0;
}

.listchamp li{
    border-radius: 2% !important;
    width: 20%;
    padding-top: 1.5%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 0.1em;
    transition: 0.5s;
    padding-left: 0;
    margin: 15em 15em 0 0;
}
.listchamp li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.listchamp img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

header {
    background-color: #000;
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
}

#search {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #000;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    text-align: right;
}

#search select{
    width: 15%;
    height: 100%;
    border: none;
    background-color: #000;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    text-align: left;
    -webkit-appearance: none;
}

#search select option{
    background-color: #000;
    color: white;
    text-align: center;
}

.ancre{
    padding-bottom: 200px;
    position : relative;
}